extends ../_layout

block content 
  main 
    ul 
      li Addition 
        p Link: /api/v1/arithmetic/addition?
        article Paramters: number, difficulty
          section Difficulties
            p Easy - 1 digit by 1 digit 
            p Medium - 2 digit by 2 digit 
            p Hard - 3 digit by 3 digit 
