html(lang = 'en')
 head
  meta(charset = 'UTF-8')
  meta(name = 'viewport', content = 'width = device-width, initial-scale = 1.0')
  title Get Problems API
  style
    block styles
  script
    block scripts

body
  header #{header}
  block content